---
    # Front Matter enabled
---

body {
    font-family: 'Cantarell', sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-style:   normal;
    font-weight:  normal;

          font-size: 19px;
}

h1 {
    font-size: 5.105em;
    line-height: 0.928em;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    color: inherit;
    font-weight:  400;
}

a {
    color: inherit;
}

table {
    color: inherit;
}

p.author {
    text-align: center;
    font-size: 13px;
    letter-spacing: 2px;
    margin-top: 27px;
    text-transform: uppercase;
}

p.author {
    text-align: center;
    font-size: 13px;
    letter-spacing: 2px;
    margin-top: 27px;
    text-transform: uppercase;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-carousel {
    height: 650px;
    text-align: center;

    a {
        cursor: pointer;
    }

    .left-arrow {
        padding-right: 24px;
    }

    .right-arrow {
        padding-left: 24px;
    }

    .image {
        #width: 650px;
    }

    .glyphicon {
        font-size: 22px;
    }
}

.images-invisible-preload {
    height: 1px;
    width: 1px;
    display: none;
    visibility: hidden;
}



.carousel-control, .carousel-control:focus, .carousel-control:hover {
    color: white;
    opacity: 1;
    background: none !important;
    filter: none !important;
    progid: none !important;
}

// Iphone 5: 320 x 568
@media (max-width: 650px) {
    h1 {
        font-size: 2em;
    }
}

@media (min-width: 650px) {
    .carousel {
        background-color: green;
    }

    .carousel-inner > .item {
        height: 650px;
        position: relative;
    }

    .carousel-inner img {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .carousel-control, .carousel-control:focus, .carousel-control:hover {
        color: inherit;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "colors"
;

