---
    # Front Matter enabled
---
$primary-font-color: #00476E;
$secondary-font-color: #78797a;

$primary-background-color: #FFFFFF;

$button-background-color: #008DD0;

$primary-font-stack: 'Cantarell', sans-serif;


body {
    color:              $primary-font-color;
    background-color:   $primary-background-color;
    font-family:        $primary-font-stack;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-style:   normal;
    font-weight:  normal;
    font-size: 19px;
}

h1 {
    font-size: 5.105em;
    line-height: 0.928em;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    color: inherit;
    font-weight:  400;
}

a {
    color: inherit;
}

table {
    color: inherit;
}

p.author {
    color: $secondary-font-color;
    text-align: center;
    font-size: 13px;
    letter-spacing: 2px;
    margin-top: 27px;
    text-transform: uppercase;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    font-size: 32px;

    input[type="password"], input[type="text"] {
        border: 1px solid $primary-font-color;
    }
    input[type="submit"] {
        color: white;
        background-color: $button-background-color;
    }
}

#login-form-container {
    @extend .center-content;
    height: 400px;
}


.container {
    min-width: 320px;
}

.images-invisible-preload {
        height: 1px;
        width: 1px;
        display: none;
        visibility: hidden;
}


.carousel-control, .carousel-control:focus, .carousel-control:hover {
    color: white;
    opacity: 1;
    background: none !important;
    filter: none !important;
    progid: none !important;
}

.carousel-control.left {
    margin-left: -5px;
}
.carousel-control.right {
    margin-right: -5px;
}



// Smaller than tablet:
@media (max-width: 767px) {
    h1 {
        font-size: 2em;
    }

    #login-form {
        width: 300px;
        font-size: 1em;

        input {
            width: 100%;
            margin-bottom: 10px;
        }
    }
}

// Greater than tablet:
@media (min-width: 768px) {
    .carousel-inner > .item {
        height: 650px;
        position: relative;
    }

    .carousel-inner img {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

@media (min-width: 992px) {
    .carousel-control, .carousel-control:focus, .carousel-control:hover {
        color: inherit;
    }
}
