body {
  _background-color: #008DD0;
  _background-color: #00142E;
  _color: #00476E;
  _color: #72B3D2;
  _color: white;

  color: #00476E;
  background: #FFFFFF;
}

.author {
  color: #78797a;
}

.intro {
  color: white;
}
